@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --primary-red: #e2093c;
  --primary-gray: #f1eeee;
}
html {
  overflow-x: hidden !important;
}

body {
  font-family: 'Maven Pro', sans-serif;
  display: flex;
  justify-content: center;
  overflow-x: hidden !important;
}
/* .content {
  max-width: 1500px;
  width: 100%;
} */
